<!-- BEGIN PAGE BREADCRUMB -->
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-microphone font-blue-hoki"></i>
						<span class="caption-subject bold font-blue-hoki uppercase">
												整体项目分析 </span>
						<span class="caption-helper">小微项目统计分析</span>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-hover table-light">
						<thead>
							<tr class="uppercase">
								<th>评价模式</th>
								<th>
									项目优势
								</th>
								<th>
									评价
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									团队情况
								</td>
								<td>
									<p>1、团队执行力较高，团队合作默契，团队活力较高。</p>
									<p> 2、团队专业程度较高，人员配置较为合理，行业经验丰富。</p>
								</td>
								<td>
									<span class="label label-info">等待评价</span>
								</td>
							</tr>
							<tr>
								<td>
									商业模式
								</td>
								<td>
									<p>1、公司由投影硬件为出发点，向上延伸到内容运营。完整产业链初见成型。</p>
									<p>2、公司致力于影视内容移动发行平台，未来将硬件为支点，完善公司上下游产业，形成完整生态体系。</p> 
 									<p>3、公司打造专业及垂直影视互联网社区，把握生态体系入口。</p>
								</td>
								<td>
									<span class="label label-success">优秀</span>
								</td>
							</tr>
							<tr>
								<td>
									盈利模式
								</td>
								<td>
									<p>1、公司硬件销售收入</p>
									<p> 2、酒店房费分成及点播分成 （未来第二院线的愿景）</p>
 										<p>3、未来电影市场的国家红利</p>
								</td>
								<td>
									<span class="label label-info">等待评价</span>
								</td>
							</tr>
							<tr>
								<td>
									集团背书
								</td>
								<td>
									<p>
										1、海尔品牌优势
									</p>
									<p>2、海尔渠道优势</p>
									<p>  3、海尔供应链体系</p>
								</td>
								<td>
									<span class="label label-info">等待评价</span>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	</div>
