<!-- BEGIN PAGE BREADCRUMB -->
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="portlet light main-padding">
				<div class="portlet-body">
					<div class="tabbable-line">
						<ul class="nav nav-tabs ">
							<li class="active">
								<a href="javaScript: void(0);" data-target="#basic" data-toggle="tab" aria-expanded="false">
										基本信息 </a>
							</li>
							<li>
								<a href="javaScript: void(0);" data-target="#staff" data-toggle="tab" aria-expanded="false">
										任职人员 </a>
							</li>
							<li>
								<a href="javaScript: void(0);" data-target="#" data-toggle="tab" aria-expanded="false">
										股东信息 </a>
							</li>
							<li>
								<a href="javaScript: void(0);" data-target="#money" data-toggle="tab" aria-expanded="true">
										对外投资 </a>
							</li>
							<li>
								<a href="javaScript: void(0);" data-target="#staff" data-toggle="tab" aria-expanded="false">
										分支机构 </a>
							</li>
							<li>
								<a href="javaScript: void(0);" data-target="#law" data-toggle="tab" aria-expanded="false">
										法律诉讼 </a>
							</li>
							<li>
								<a href="javaScript: void(0);" data-target="#port" data-toggle="tab" aria-expanded="false">
										企业年报 </a>
							</li>



						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="basic">
								<div class="row">
									<div class="col-md-7">
										<div class="row static-info">
											<div class="col-md-5 name font-grey">
												法定代表人:
											</div>
											<div class="col-md-7 value">
												马文俊
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name font-grey">
												注册资金:
											</div>
											<div class="col-md-7 value">
												5,534.00 万
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name font-grey">
												状 态:
											</div>
											<div class="col-md-7 value">
												在营企业
											</div>
										</div>
										<div class="row static-info">
											<div class="col-md-5 name font-grey">
												注册时间:
											</div>
											<div class="col-md-7 value">
												2013-05-15
											</div>
										</div>
									</div>
									<div class="col-md-5 text-center">
										<img src="assets/images/score.png" alt="评分" style="max-height: 120px;">
									</div>

								</div>
								<hr>
								<div class="row">
									<div class="col-md-4">
										<div class="row static-info">
											<div class="col-md-5 name font-grey">
												行业:
											</div>
											<div class="col-md-7 value">
												批发业
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="row static-info">
											<div class="col-md-5 name font-grey">
												企业类型:
											</div>
											<div class="col-md-7 value">
												股份合作制
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="row static-info">
											<div class="col-md-5 name font-grey">
												工商注册号:
											</div>
											<div class="col-md-7 value">
												370200018065179
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="row static-info">
											<div class="col-md-5 name font-grey">
												营业期限:
											</div>
											<div class="col-md-7 value">
												1980-03-24至2099-01-01
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="row static-info">
											<div class="col-md-5 name font-grey">
												核准日期:
											</div>
											<div class="col-md-7 value">
												2015-11-03
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="row static-info">
											<div class="col-md-5 name font-grey">
												统一信用代码:
											</div>
											<div class="col-md-7 value">
												91370200163562681G
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="row static-info">
											<div class="col-md-2 name font-grey">
												经营范围:
											</div>
											<div class="col-md-10 font-grey text-begin">
												小帅智能科技有限公司是一个海尔集团新生的互联网智能公司，由十几位爱看片的80后组成，以“发动更自由的观影模式革命”为目标，致力于提供专业的家庭观影设备及周边产品。产品线覆盖便携智能微投、家用投影及智能穿戴设备等。
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="staff">
								<table class="table table-hover table-light">
									<thead>
										<tr class="uppercase">
											<th>
												董事长
											</th>
											<th>
												监事
											</th>
											<th>
												CMO
											</th>
											<th>
												CFO
											</th>
											<th>
												CTO
											</th>
											<th>
												COO
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												张鹏
											</td>
											<td>
												马文俊
											</td>
											<td>
												王新宇
											</td>
											<td>
												杨明慧
											</td>
											<td>
												柴树艳
											</td>
											<td>
												娜捷日达
											</td>
										</tr>
										<tr>
											<td>
												张鹏
											</td>
											<td>
												马文俊
											</td>
											<td>
												王新宇
											</td>
											<td>
												杨明慧
											</td>
											<td>
												柴树艳
											</td>
											<td>
												娜捷日达
											</td>
										</tr>
										<tr>
											<td>
												张鹏
											</td>
											<td>
												马文俊
											</td>
											<td>
												王新宇
											</td>
											<td>
												杨明慧
											</td>
											<td>
												柴树艳
											</td>
											<td>
												娜捷日达
											</td>
										</tr>
										<tr>
											<td>
												张鹏
											</td>
											<td>
												马文俊
											</td>
											<td>
												王新宇
											</td>
											<td>
												杨明慧
											</td>
											<td>
												柴树艳
											</td>
											<td>
												娜捷日达
											</td>
										</tr>
										<tr>
											<td>
												张鹏
											</td>
											<td>
												马文俊
											</td>
											<td>
												王新宇
											</td>
											<td>
												杨明慧
											</td>
											<td>
												柴树艳
											</td>
											<td>
												娜捷日达
											</td>
										</tr>
									</tbody>
								</table>

							</div>
							<div class="tab-pane" id="money">
								<table class="table table-hover table-light">
									<thead>
										<tr class="uppercase">
											<th>
												公司名称
											</th>
											<th>
												投资状态
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<a href="javascript:;">大连海尔空调器有限公司</a>
											</td>
											<td>
												投资数额：未公开
											</td>
										</tr>
										<tr>
											<td>
												<a href="javascript:;">青岛海尔全球创新模式研究有限公司</a>
											</td>
											<td>
												投资数额：未公开
											</td>
										</tr>
										<tr>
											<td>
												<a href="javascript:;">青岛海尔质量检测有限公司</a>
											</td>
											<td>
												投资数额：未公开
											</td>
										</tr>
										<tr>
											<td>
												<a href="javascript:;">青岛海尔开利冷冻设备有限公司</a>
											</td>
											<td>
												投资数额：未公开
											</td>
										</tr>
										<tr>
											<td>
												<a href="javascript:;">北京海尔集成电路设计有限公司</a>
											</td>
											<td>
												投资数额：未公开
											</td>
										</tr>
										<tr>
											<td>
												<a href="javascript:;">青岛乐家电器有限公司</a>
											</td>
											<td>
												投资数额：未公开
											</td>
										</tr>
										<tr>
											<td>
												<a href="javascript:;">青岛广元置业股份有限公司</a>
											</td>
											<td>
												投资数额：未公开
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane" id="law">
								<div class="general-item-list">
									<div class="item">
										<div class="item-head">
											<div class="item-details">

												<a href="" class="item-name primary-link">案件号：（2015）海民（知）初字第17490号</a>
											</div>

										</div>
										<div class="item-body">
											北京美好景象图片有限公司与海尔集团公司等著作权权属、侵权纠纷一审民事裁定书
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">

												<a href="" class="item-name primary-link">案件号：（2015）海民（知）初字第17490号</a>
											</div>

										</div>
										<div class="item-body">
											北京美好景象图片有限公司与海尔集团公司等著作权权属、侵权纠纷一审民事裁定书
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">

												<a href="" class="item-name primary-link">案件号：（2015）海民（知）初字第17490号</a>
											</div>

										</div>
										<div class="item-body">
											北京美好景象图片有限公司与海尔集团公司等著作权权属、侵权纠纷一审民事裁定书
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">

												<a href="" class="item-name primary-link">案件号：（2015）海民（知）初字第17490号</a>
											</div>

										</div>
										<div class="item-body">
											北京美好景象图片有限公司与海尔集团公司等著作权权属、侵权纠纷一审民事裁定书
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">

												<a href="" class="item-name primary-link">案件号：（2015）海民（知）初字第17490号</a>
											</div>

										</div>
										<div class="item-body">
											北京美好景象图片有限公司与海尔集团公司等著作权权属、侵权纠纷一审民事裁定书
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">

												<a href="" class="item-name primary-link">案件号：（2015）海民（知）初字第17490号</a>
											</div>

										</div>
										<div class="item-body">
											北京美好景象图片有限公司与海尔集团公司等著作权权属、侵权纠纷一审民事裁定书
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">

												<a href="" class="item-name primary-link">案件号：（2015）海民（知）初字第17490号</a>
											</div>

										</div>
										<div class="item-body">
											北京美好景象图片有限公司与海尔集团公司等著作权权属、侵权纠纷一审民事裁定书
										</div>
									</div>
									<div class="item">
										<div class="item-head">
											<div class="item-details">

												<a href="" class="item-name primary-link">案件号：（2015）海民（知）初字第17490号</a>
											</div>

										</div>
										<div class="item-body">
											北京美好景象图片有限公司与海尔集团公司等著作权权属、侵权纠纷一审民事裁定书
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="port">
								<ul class="list-group">
									<li class="list-group-item">
										<a href="#">2014年度报告</a>
										<span class="badge badge-default">
											详情 </span>
									</li>
									<li class="list-group-item">
										<a href="#">2013年度报告</a>
										<span class="badge badge-default">
											详情 </span>
									</li>
									<li class="list-group-item">
										<a href="#">2012年度报告</a>
										<span class="badge badge-default">
											详情 </span>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
