<!-- BEGIN PAGE BREADCRUMB -->
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-microphone font-blue-hoki"></i>
						<span class="caption-subject bold font-blue-hoki uppercase">
												财务统计 </span>
						<span class="caption-helper">资产负债表、损益表、现金流量表</span>
					</div>
					<div class="inputs">
						<div class="portlet-input input-inline input-small">
							<div class="input-icon right">
								<i class="icon-magnifier"></i>
								<input type="text" class="form-control input-circle" placeholder="Q1值">
							</div>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-hover table-light">
						<thead>
							<tr class="uppercase">
								<th>
									评价的关键能力
								</th>
								<th>
									指标名称
								</th>
								<th>
									计算公式
								</th>
								<th>
									16年Q1
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									营业毛利率
								</td>
								<td>
									（营业收入-营业成本）/营业收入
								</td>
								<td>
									14.1%
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									税后利润率
								</td>
								<td>
									税后利润总额/营业收入
								</td>
								<td>
									<span class="badge badge-danger">-85.5</span>
								</td>

							</tr>
							<tr>
								<td>
									财务风险控制能力
								</td>
								<td>
									总资产收益率（ROA）
								</td>
								<td>
									净利润/资产总额
								</td>
								<td>
									<span class="badge badge-danger">-15%</span>
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									营业毛利率
								</td>
								<td>
									（营业收入-营业成本）/营业收入
								</td>
								<td>
									14.1%
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									税后利润率
								</td>
								<td>
									税后利润总额/营业收入
								</td>
								<td>
									<span class="badge badge-danger">-85.5</span>
								</td>

							</tr>
							<tr>
								<td>
									财务风险控制能力
								</td>
								<td>
									总资产收益率（ROA）
								</td>
								<td>
									净利润/资产总额
								</td>
								<td>
									<span class="badge badge-danger">-15%</span>
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									营业毛利率
								</td>
								<td>
									（营业收入-营业成本）/营业收入
								</td>
								<td>
									14.1%
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									税后利润率
								</td>
								<td>
									税后利润总额/营业收入
								</td>
								<td>
									<span class="badge badge-danger">-85.5</span>
								</td>

							</tr>
							<tr>
								<td>
									财务风险控制能力
								</td>
								<td>
									总资产收益率（ROA）
								</td>
								<td>
									净利润/资产总额
								</td>
								<td>
									<span class="badge badge-danger">-15%</span>
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									营业毛利率
								</td>
								<td>
									（营业收入-营业成本）/营业收入
								</td>
								<td>
									14.1%
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									税后利润率
								</td>
								<td>
									税后利润总额/营业收入
								</td>
								<td>
									<span class="badge badge-danger">-85.5</span>
								</td>

							</tr>
							<tr>
								<td>
									财务风险控制能力
								</td>
								<td>
									总资产收益率（ROA）
								</td>
								<td>
									净利润/资产总额
								</td>
								<td>
									<span class="badge badge-danger">-15%</span>
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									营业毛利率
								</td>
								<td>
									（营业收入-营业成本）/营业收入
								</td>
								<td>
									14.1%
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									税后利润率
								</td>
								<td>
									税后利润总额/营业收入
								</td>
								<td>
									<span class="badge badge-danger">-85.5</span>
								</td>

							</tr>
							<tr>
								<td>
									财务风险控制能力
								</td>
								<td>
									总资产收益率（ROA）
								</td>
								<td>
									净利润/资产总额
								</td>
								<td>
									<span class="badge badge-danger">-15%</span>
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									营业毛利率
								</td>
								<td>
									（营业收入-营业成本）/营业收入
								</td>
								<td>
									14.1%
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									税后利润率
								</td>
								<td>
									税后利润总额/营业收入
								</td>
								<td>
									<span class="badge badge-danger">-85.5</span>
								</td>

							</tr>
							<tr>
								<td>
									财务风险控制能力
								</td>
								<td>
									总资产收益率（ROA）
								</td>
								<td>
									净利润/资产总额
								</td>
								<td>
									<span class="badge badge-danger">-15%</span>
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									营业毛利率
								</td>
								<td>
									（营业收入-营业成本）/营业收入
								</td>
								<td>
									14.1%
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									税后利润率
								</td>
								<td>
									税后利润总额/营业收入
								</td>
								<td>
									<span class="badge badge-danger">-85.5</span>
								</td>

							</tr>
							<tr>
								<td>
									财务风险控制能力
								</td>
								<td>
									总资产收益率（ROA）
								</td>
								<td>
									净利润/资产总额
								</td>
								<td>
									<span class="badge badge-danger">-15%</span>
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									营业毛利率
								</td>
								<td>
									（营业收入-营业成本）/营业收入
								</td>
								<td>
									14.1%
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									税后利润率
								</td>
								<td>
									税后利润总额/营业收入
								</td>
								<td>
									<span class="badge badge-danger">-85.5</span>
								</td>

							</tr>
							<tr>
								<td>
									财务风险控制能力
								</td>
								<td>
									总资产收益率（ROA）
								</td>
								<td>
									净利润/资产总额
								</td>
								<td>
									<span class="badge badge-danger">-15%</span>
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									营业毛利率
								</td>
								<td>
									（营业收入-营业成本）/营业收入
								</td>
								<td>
									14.1%
								</td>

							</tr>
							<tr>
								<td>
									盈利能力
								</td>
								<td>
									税后利润率
								</td>
								<td>
									税后利润总额/营业收入
								</td>
								<td>
									<span class="badge badge-danger">-85.5</span>
								</td>

							</tr>
							<tr>
								<td>
									财务风险控制能力
								</td>
								<td>
									总资产收益率（ROA）
								</td>
								<td>
									净利润/资产总额
								</td>
								<td>
									<span class="badge badge-danger">-15%</span>
								</td>

							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	</div>
