<!-- BEGIN PAGE BREADCRUMB -->
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-book-open font-blue-hoki"></i>
						<span class="caption-subject bold font-blue-hoki uppercase">
												小微项目投入产出管理 </span>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-hover table-light">
						<thead>
							<tr class="uppercase">
								<th>孵化路径简述</th>
								<th>
									孵化项目执行方案
								</th>
								<th>
									孵化现状和动态
								</th>
								<th>
									投入产出
								</th>
								<th>
									公司章程
								</th>
								<th>
									投资协议
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									小微项目具体孵化路径
								</td>
								<td>
									<button type="button" class="btn btn-xs blue start">
										<i class="fa fa-upload"></i>
										<span>上传附件</span>
									</button>
								</td>
								<td>
									已经进入的小微项目简介
								</td>
								<td>小微总产出</td>
								<td>
									<button type="button" class="btn btn-xs blue start">
										<i class="fa fa-upload"></i>
										<span>上传附件</span>
									</button>
								</td>
								<td>
									<button type="button" class="btn btn-xs blue start">
										<i class="fa fa-upload"></i>
										<span>上传附件</span>
									</button>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	</div>
