
<!-- BEGIN PAGE BREADCRUMB -->
<div class="container">
		<div class="row">
			<div class="col-md-12">
	        <div class="portlet light">
	            <div class="portlet-title tabbable-line">
	                <div class="caption caption-md">
	                    <i class="icon-screen-tablet font-blue-sharp"></i>
	                    <span class="caption-subject font-blue-madison bold uppercase">小帅影院综合分析</span>
	                    <span class="caption-helper"> </span>
	                </div>
	                <div class="tools">
	                    <a href="javascript: void(0);" class="collapse">
	                    </a>
	                    <a href="javascript: void(0);" class="reload">
	                    </a>
	                    <a href="javascript: void(0);" class="fullscreen">
	                    </a>
	                    <a href="javascript: void(0);" class="remove">
	                    </a>
	                </div>
	            </div>
	            <div class="portlet-body">
	                <div class="row">
	                    <ng-echarts class="col-md-6 echarts" ec-config="vm.config" ec-option="vm.option"></ng-echarts>
											<ng-echarts class="col-md-6 echarts" ec-config="vm.config" ec-option="vm.lineOption"></ng-echarts>
	                </div>
	            </div>
	        </div>
	    </div>
		</div>
	</div>
</div>
